.container {
  width: 100vw;
  min-height: 100vh;
  background-color: aliceblue;
  position: relative;
  display: flex;
}

.textContainer {
  position: relative;
  flex: 1;
  display: flex;
  justify-content: center;
  padding: 40px 0 140px;
}
.message {
  width: 680px;
  max-width: calc(100% - 80px);
  height: calc(100vh - 260px);
  padding: 0 16px;
  overflow: auto;
  padding-bottom: 80px;
  transition: all;
}
